i {
  padding-right: 0.3em;
}

h4 {
  padding-bottom: 0.7em;
}

h5 {
  padding-bottom: 0.5em;
}

.container {
  padding: 3.5rem 4rem 0.5rem;
  background-color: #444;
  height: 100%;
}

@media only screen and (max-width: 1150px) {
  .container {
    height: auto;
  }
}

@media only screen and (max-height: 600px) {
  .container {
    height: auto;
  }
}

@media only screen and (max-width: 720px) {
  .grid-container {
    display: inline-grid;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    text-align: center;
  }
  .top-item {
    margin-top: 1rem;
  }
  .about-img {
    margin-top: 0.5rem;
  }
}

@media only screen and (min-width: 720px) {
  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 3rem;
  }
  .grid-box-container {
    margin: 2rem 0 0;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 1rem;
  }
}
