.main-text {
  right: 67%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
  text-align: center;
  font-size: 150%;
}

@media only screen and (max-width: 817px) {
  .main-text {
    right: 50%;
  }
}

.logo {
  width: 140px;
}
