@font-face {
  src: url(fonts/02_APompadourTextSample.ttf);
  font-family: a-pompadour;
}

html,
body,
#root,
#root > div {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: a-pompadour;
  color: white;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  padding: 1rem;
}

span {
  color: #55d6aa;
}

.App {
  position: relative;
}
